.transitionContainer {
  position: relative;
  overflow: hidden;

  transition-property: height;
}

.transitionPrevNode,
.transitionNode {
  width: 100%;

  transition-property: opacity;
}

.transitionPrevNode {
  position: absolute;
  pointer-events: none;
}
