.App {
  text-align: center;
}

.App-header,
.App-section {
  background-color: #818ea8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 24px 0;
}

.App-section {
  background-color: #99c79d;
}

.App-link {
  color: #61dafb;
}

.spacer {
  height: 16px;
}

button {
  font-size: medium;
  padding: 1em 2em;
}
